.game {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .main {
    flex: 1;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4vh;
  }

  .word {
    color: darken(#55ccff, 30%);
    font-weight: bold;
    text-decoration: underline;
  }
}
