@import "@/utils/color.module.scss";

.button {
  min-width: 16vw;
  padding: 1.5vh;
  font-size: 3vh;
  color: white;
  background-color: $emoji-blue-dark;
  border: none;
  border-radius: 1vh;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus {
    outline: none;
    background-color: $emoji-blue;
    box-shadow: 0.5vh 0.5vh 0 $emoji-blue-dark;
  }

  &.disabled {
    pointer-events: none;
    background-color: $gray;
  }
}
