.main {
  height: 100vh;

  .hero {
    height: 60vh;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 8vh;
    color: darken(#55ccff, 30%);
  }

  button {
    min-width: 16vw;
    padding: 1.5vh;
    font-size: 3vh;
    color: white;
    background-color: darken(#55ccff, 30%);
    border: none;
    border-radius: 1vh;
    transition: all 0.2s;

    &:hover,
    &:focus {
      outline: none;
      background-color: #55ccff;
      box-shadow: 0.5vh 0.5vh 0 darken(#55ccff, 30%);
    }

    &.disabled {
      pointer-events: none;
      background-color: #ccc;
    }
  }

  .players {
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 4vh;
  }

  .lobbyPlayer {
    display: flex;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vh;

    img {
      width: 12vh;
      height: 12vh;
      border-radius: 6vh;
    }
  }
}
