@import "@/utils/color.module.scss";

.container {
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .border {
    position: absolute;
    width: 8vh;
    height: 8vh;
    border: 1vh dashed $emoji-blue;
    border-radius: 4vh;
    animation: spin 10s linear infinite;

    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}
