@import "@/utils/color.module.scss";

.scoreboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 4vh;

  .medalists {
    display: flex;
  }

  .losers {
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    width: 60vw;
    border-radius: 2vw;
    padding: 2vw;
    overflow-y: auto;
    margin-bottom: 2vh;
  }

  .loser {
    background-color: white;
    border-radius: 1vw;
    padding: 1vw;
    margin-bottom: 1vw;
    display: flex;
    gap: 1vw;
  }

  .place {
    color: $emoji-blue-dark;
    background-color: $emoji-blue;
    text-align: center;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
    font-weight: bold;
  }

  .name {
    flex: 1;
  }
}
